{
  //每行最多多少个字符换行
  "printWidth": 80,
  // 使用分号, 默认true
  "semi": true,
  //缩进长度
  "tabWidth": 4,
  "vueIndentScriptAndStyle": false,
  // 使用单引号, 默认false(在jsx中配置无效, 默认都是双引号)
  "singleQuote": true,
  // all 包括函数对象等所有可选
  "trailingComma": "all",
  // 箭头函数的参数无论有几个，都要括号包裹
  "arrowParens": "always",
  // 对象或者数组的最后一个元素后面不要加逗号
  "trailingComma": "none",
  // 在对象中的括号之间用空格来间隔
  "bracketSpacing": true,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  // 换行符的使用
  "endOfLine": "auto"
}
